div,
nav,
article,
label,
input,
textarea,
select,
button{
  box-sizing:border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label,
input,
textarea,
select,
button,
li{
  margin:0;
  color:#2f2f2f;
}

h1{
  font-size:3.5rem;
  line-height:1.16327;
  font-weight:600;
  font-family:"Quicksand", sans-serif;
}

h2{
  font-size:1.71429rem;
  line-height:1.375;
  font-weight:600;
  font-family:"Quicksand", sans-serif;
}

h3{
  font-size:1.5rem;
  line-height:1.42857;
  font-weight:600;
  font-family:"Quicksand", sans-serif;
}

h4{
  font-size:1.28571rem;
  line-height:1.5;
  font-weight:600;
  font-family:"Quicksand", sans-serif;
}

h5{
  font-size:1.28571rem;
  line-height:1.5;
  font-weight:500;
  font-family:"Quicksand", sans-serif;
}

h6{
  font-size:1.28571rem;
  line-height:1.5;
  font-weight:500;
}

p,
a,
span,
li{
  font-size:1.14286rem;
  line-height:1.5;
  font-weight:500;
  font-family:"Quicksand", sans-serif;
}

button::-moz-focus-inner, div::-moz-focus-inner{
    border:0;
  }

a,
button{
  cursor:pointer;
}

li:not(:last-of-type){
  padding-bottom:8px;
}

*:focus:not(._focus-visible_1wpqk_101){
  outline:none;
}
