._button_grtku_1{
  color:inherit;
  display:block;
  border-radius:0;
  border:1px solid currentColor;
  background-color:transparent;
  padding:1em 1.5em;
  text-decoration:inherit;
  font-weight:600;
  max-width:-webkit-fit-content;
  max-width:-moz-fit-content;
  max-width:fit-content;
  transition:transform 50ms ease-in-out;
  transform:scale(1)
}
._button_grtku_1:hover{
    transform:scale(1.05);
  }
._button_grtku_1:active{
    transform:scale(0.95);
  }
