._root_1hcbu_4{
  padding-bottom:2rem;
}

._root_1hcbu_4 ._section_1hcbu_7{
    width:100%;
    max-width:40em;
    margin:0 auto;
    padding:0 1.5rem;
    box-sizing:border-box;
    display:flex;
    justify-content:center;
  }

._root_1hcbu_4 ._section_1hcbu_7 ._imageContainer_1hcbu_16{
      position:relative;
      overflow:hidden;
    }

._root_1hcbu_4 ._section_1hcbu_7 ._imageContainer_1hcbu_16 ._image_1hcbu_16{
        border:1px solid black;
        background:white;
        margin:0 auto
      }

._root_1hcbu_4 ._section_1hcbu_7 ._imageContainer_1hcbu_16 ._image_1hcbu_16._circular_1hcbu_25{
          border-radius:50%;
        }

._button_grtku_1{
  color:inherit;
  display:block;
  border-radius:0;
  border:1px solid currentColor;
  background-color:transparent;
  padding:1em 1.5em;
  text-decoration:inherit;
  font-weight:600;
  max-width:-webkit-fit-content;
  max-width:-moz-fit-content;
  max-width:fit-content;
  transition:transform 50ms ease-in-out;
  transform:scale(1)
}
._button_grtku_1:hover{
    transform:scale(1.05);
  }
._button_grtku_1:active{
    transform:scale(0.95);
  }

._root_10le7_4{
  padding-bottom:2rem;
}

._root_10le7_4 ._education_10le7_7{
    width:100%;
    max-width:40em;
    margin:0 auto;
    padding:0 1.5rem;
    box-sizing:border-box;
  }

._root_10le7_4 ._education_10le7_7 ._heading_10le7_14{
      font-size:1.71429rem;
      line-height:1.375;
      margin:0.25em 0
    }

@media (max-width: calc(1280px - 1px)){

    ._root_10le7_4 ._education_10le7_7 ._heading_10le7_14{
        text-decoration:underline !important
    }
  }

._root_1n1lh_4{
  padding-bottom:2rem;
}

._root_1n1lh_4 ._container_1n1lh_7{
    width:100%;
    max-width:40em;
    padding:0 1.5em;
    box-sizing:border-box;
    margin:0 auto;
  }

._root_1n1lh_4 ._container_1n1lh_7 ._heading_1n1lh_14{
      text-align:center;
      font-size:1.5rem;
      line-height:1.42857;
      margin:0 0 0.5rem
    }

@media (min-width: 600px){

    ._root_1n1lh_4 ._container_1n1lh_7 ._heading_1n1lh_14{
        font-size:1.71429rem;
        line-height:1.375
    }
  }

._root_1n1lh_4 ._container_1n1lh_7 ._subtitle_1n1lh_26{
      text-align:center;
      margin:0.5rem 0 1.5rem;
    }

._root_1n1lh_4 ._container_1n1lh_7 ._form_1n1lh_31{
      display:flex;
      flex-direction:column;
    }

._root_1n1lh_4 ._container_1n1lh_7 ._form_1n1lh_31 ._formInput_1n1lh_35{
        -webkit-font-smoothing:inherit;
        font:inherit;
        width:100%;
        padding:12px;
        border:1px solid #ccc;
        border-radius:4px;
        box-sizing:border-box;
        margin-top:6px;
        margin-bottom:16px;
        resize:vertical;
      }

._root_1n1lh_4 ._container_1n1lh_7 ._form_1n1lh_31 ._formButton_1n1lh_48{
        -webkit-font-smoothing:inherit;
        font:inherit;
        background-color:#4caf50;
        color:white;
        padding:12px 20px;
        border:none;
        border-radius:4px;
        cursor:pointer;
        width:25%;
        min-width:100px;
        align-self:flex-end
      }

._root_1n1lh_4 ._container_1n1lh_7 ._form_1n1lh_31 ._formButton_1n1lh_48:hover{
          background-color:#45a049;
        }

._root_103s4_1{
  width:600px;
  max-width:100%;
  margin-left:auto;
  margin-right:auto;
}

._root_r7yrj_4{
  color:#202123;
  font-size:1rem;
  line-height:1.5;
  padding:2rem 0;
}

._root_r7yrj_4 ._text_r7yrj_10{
    text-align:center;
  }

._root_r7yrj_4 ._text_r7yrj_10 p{
      margin:1rem 0;
    }

._root_r7yrj_4 ._text_r7yrj_10 a{
      color:inherit;
    }

._root_r7yrj_4 ._items_r7yrj_22{
    list-style:none;
    display:flex;
    justify-content:center;
    margin:0 0 3rem;
    padding:0;
  }

._root_r7yrj_4 ._items_r7yrj_22 ._item_r7yrj_22 a{
        display:block;
        text-decoration:none;
        color:inherit;
        padding:1.5rem 0.5rem;
      }

._root_1lvvm_4{
  position:relative;
  color:#202123;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  width:100%;
  margin:auto;
  border-bottom:1px solid rgba(0, 0, 0, 0.4);
  background:white;
  box-sizing:border-box;
  padding:8px 0;
}

._root_1lvvm_4 a{
    color:inherit;
    text-decoration:inherit;
  }

._root_1lvvm_4 ._branding_1lvvm_23{
    font-size:inherit;
    font-weight:inherit;
    text-transform:uppercase;
    margin:0;
    padding:0;
    text-align:center;
    flex:1;
  }

._root_1lvvm_4 ._branding_1lvvm_23 a{
      display:block;
      padding:0.5em 0
    }

@media (max-width: calc(1280px - 1px)){

    ._root_1lvvm_4 ._branding_1lvvm_23 a{
        padding:12px 8px
    }
  }

._root_1lvvm_4 ._branding_1lvvm_23 ._title_1lvvm_41{
      margin:0;
      font-size:1.71429rem;
    }

._root_1lvvm_4 ._nav_1lvvm_47{
    flex:1
  }

@media (max-width: calc(1280px - 1px)){

  ._root_1lvvm_4 ._nav_1lvvm_47{
      display:none
  }
  }

._root_1lvvm_4 ._nav_1lvvm_47 ._navItems_1lvvm_54{
      padding:0;
      margin:0;
      height:100%
    }

@media (min-width: 600px){

    ._root_1lvvm_4 ._nav_1lvvm_47 ._navItems_1lvvm_54{
        display:flex;
        justify-content:center;
        padding:0 1rem
    }
  }

@supports (padding-top: env(safe-area-inset-top)){

    ._root_1lvvm_4 ._nav_1lvvm_47 ._navItems_1lvvm_54{
        padding-right:calc(env(safe-area-inset-right) + 1rem)
    }
      }

._root_1lvvm_4 ._nav_1lvvm_47 ._navItems_1lvvm_54 ._navItem_1lvvm_54{
        display:flex;
        white-space:nowrap;
        align-items:stretch;
        padding:0 !important;
        line-height:1.5 * 1.5rem;
      }

._root_1lvvm_4 ._nav_1lvvm_47 ._navItems_1lvvm_54 ._navItem_1lvvm_54 a{
          display:block;
          position:relative;
          padding:0 0.75rem;
          font-size:1.28571rem;
          line-height:1.5;
          font-weight:600
        }

@media (max-width: calc(1280px - 1px)){

        ._root_1lvvm_4 ._nav_1lvvm_47 ._navItems_1lvvm_54 ._navItem_1lvvm_54 a{
            padding:1rem 1.5rem;
            width:100%;
            box-sizing:border-box;
            text-align:right;
        }

            ._root_1lvvm_4 ._nav_1lvvm_47 ._navItems_1lvvm_54 ._navItem_1lvvm_54 a ::before{
              display:none;
            }

            ._root_1lvvm_4 ._nav_1lvvm_47 ._navItems_1lvvm_54 ._navItem_1lvvm_54 a ._active_1lvvm_94::before{
              display:block;
              content:"";
              width:100%;
              height:1px;
              position:absolute;
              bottom:0.5rem;
              left:0;
              background-color:#ffffff;
            }
  }

@media (min-width: 600px){

      ._root_1lvvm_4 ._nav_1lvvm_47 ._navItems_1lvvm_54 ._navItem_1lvvm_54{
          margin-left:0.5rem
      }
  }

._root_iqeuc_4{
  position:relative;
  display:flex;
  justify-content:center;
  align-items:flex-start;
  color:#ffffff;
  background-size:cover;
  background:#202123 no-repeat center center;
  padding-bottom:2rem;
  z-index:0
}

@media (min-width: 600px){

._root_iqeuc_4{
    padding-bottom:4rem
}
  }

._root_iqeuc_4::before{
    content:"";
    position:absolute;
    top:50%;
    left:0;
    background-image:linear-gradient(rgba(34,34,34,0), rgba(34,34,34,0.93333));
    width:100%;
    height:50%;
    z-index:0;
  }

._root_iqeuc_4 p a{
    color:inherit;
  }

._root_iqeuc_4 h1,
  ._root_iqeuc_4 p{
    color:inherit;
  }

._root_iqeuc_4 ._content_iqeuc_39{
    width:100%;
    max-width:40em;
    padding:0 1.5em;
    box-sizing:border-box;
    z-index:1;
  }

._root_iqeuc_4 ._content_iqeuc_39 ._title_iqeuc_46{
      position:relative;
      font-weight:600;
      font-size:1.71429rem;
      line-height:1.375;
      text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
      margin:0;
      padding:0;
      padding-top:12.5rem
    }

@media (min-width: 600px){

    ._root_iqeuc_4 ._content_iqeuc_39 ._title_iqeuc_46{
        font-size:3.5rem;
        line-height:1.16327;
        padding-top:15rem
    }
  }

._root_iqeuc_4 ._content_iqeuc_39 ._tagline_iqeuc_63{
      position:relative;
      margin:0;
      padding:0;
      margin-top:0.5em;
      margin-bottom:1rem;
      text-shadow:0 1px 1px rgba(0, 0, 0, 0.5)
    }

@media (min-width: 600px){

    ._root_iqeuc_4 ._content_iqeuc_39 ._tagline_iqeuc_63{
        font-size:1.28571rem;
        line-height:1.5
    }
  }

._root_iqeuc_4 ._content_iqeuc_39 ._tagline_iqeuc_63 p{
        margin:0;
      }

._root_iqeuc_4 ._content_iqeuc_39 ._ctas_iqeuc_81{
      margin-top:3rem;
      display:flex;
    }

._root_iqeuc_4 ._content_iqeuc_39 ._ctas_iqeuc_81 > *:not(:first-child){
      margin-left:1rem;
    }

._root_iqeuc_4 ._background_iqeuc_91{
    position:absolute;
    top:0;
    height:100%;
    width:100%;
    overflow:hidden;
    z-index:-1;
  }

._root_fkn9c_1{
  color:inherit;
  fill:currentColor;
}

._root_vfdz5_4{
  position:relative;
  padding:2rem 0;
}

._root_vfdz5_4 ._content_vfdz5_8{
    position:relative;
    margin:0 1.5rem;
    max-width:60em;
  }

._root_vfdz5_4 ._content_vfdz5_8 ._image_vfdz5_13{
      display:block;
      width:100%;
    }

._root_vfdz5_4 ._content_vfdz5_8 ._caption_vfdz5_18{
      width:100%;
      margin:0 auto;
      box-sizing:border-box;
    }

._root_vfdz5_4 ._content_vfdz5_8 ._caption_vfdz5_18 ._captionBox_vfdz5_23{
        background-color:#f0efe9;
        border:1px solid #131313;
        padding:1.5rem;
      }

._root_vfdz5_4 ._content_vfdz5_8 ._caption_vfdz5_18 ._captionBox_vfdz5_23 ._label_vfdz5_28{
          font-size:0.71429rem;
          line-height:1.2;
          letter-spacing:0.5px;
          text-transform:uppercase;
          margin-top:1em;
        }

._root_vfdz5_4 ._content_vfdz5_8 ._caption_vfdz5_18 ._captionBox_vfdz5_23 ._label_vfdz5_28 + ._title_vfdz5_36{
          margin-top:0.2em;
        }

._root_vfdz5_4 ._content_vfdz5_8 ._caption_vfdz5_18 ._captionBox_vfdz5_23 ._title_vfdz5_36{
          font-size:1.5rem;
          line-height:1.42857;
        }

._root_1dhv2_4:not(:last-of-type){
    padding-bottom:0.5rem;
  }

._root_1dhv2_4 ._job_1dhv2_9{
    width:100%;
    max-width:40em;
    margin:0 auto;
    padding:0 1.5rem;
    box-sizing:border-box
  }

@media (max-width: calc(1280px - 1px)){

  ._root_1dhv2_4 ._job_1dhv2_9{
      padding:0 !important
  }
  }

._root_1dhv2_4 ._job_1dhv2_9 ._heading_1dhv2_20{
      font-size:1.28571rem;
      line-height:1.5;
      margin:0.25em 0 0;
    }

._root_1dhv2_4 ._job_1dhv2_9 ._details_1dhv2_26{
      font-size:1rem;
      line-height:1.5;
    }

._exitPreviewButton_1yxeq_4{
  position:fixed;
  bottom:8px;
  right:8px;
  padding:16px 24px;
  background:#ffc107;
  color:white;
  border:2px solid white;
  border-radius:8px;
  font-size:20px;
  font-weight:600
}

._exitPreviewButton_1yxeq_4:not(:hover){
    text-decoration:none;
    opacity:0.5;
  }

._root_16o94_4{
  margin:0 0 26px;
  cursor:pointer;
  width:100%;
  padding:5px;
  border:3px solid white;
  border-radius:10px;
  box-sizing:border-box;
}

._root_16o94_4 ._container_16o94_13{
    display:flex;
    flex-direction:row;
    align-items:center;
    color:#ffffff;
    fill:#ffffff;
  }

._root_16o94_4 ._container_16o94_13 ._icon_16o94_20{
      font-size:30px;
      margin:0 8px;
      color:inherit;
      fill:currentColor;
      vertical-align:middle;
      padding:6px;
    }

._root_16o94_4 ._container_16o94_13 ._text_16o94_29{
      font-size:1.5rem;
      color:inherit;
      text-decoration:none;
      margin:0;
    }

._root_1dsdc_4{
  outline:none;
  border:none;
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
          user-select:none;
  cursor:pointer;
  position:absolute;
  top:20px;
  right:15px;
  width:50px;
  height:50px;
  border-radius:50%;
  background:transparent;
  pointer-events:auto;
  margin:0;
  padding:0;
}

._root_1adb5_4{
  position:absolute;
  top:80px;
  right:0;
  width:100%;
  padding:8px;
  display:flex;
  flex-direction:column;
  align-items:center;
  box-sizing:border-box;
}

._root_13nyb_4{
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  position:relative;
  margin-bottom:32px;
  background-color:#fff;
  border-radius:16px;
  box-shadow:8px 8px 8px 0 rgba(0, 0, 0, 0.2);
  overflow:hidden;
  border:1px solid rgba(0, 0, 0, 0.15)
}

@media (min-width: 600px){

._root_13nyb_4{
    min-height:300px
}
  }

._root_13nyb_4 ._image_13nyb_20{
    position:relative;
    flex:1;
    width:50%;
    background:white;
    overflow:hidden
  }

@media (max-width: calc(1280px - 1px)){

  ._root_13nyb_4 ._image_13nyb_20{
      display:none
  }
  }

._root_13nyb_4 ._content_13nyb_32{
    flex:1;
    padding:32px;
    z-index:2;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:#000;
    box-shadow:-10px 0 40px 50px rgb(255, 255, 255)
  }

@media (max-width: calc(1280px - 1px)){

  ._root_13nyb_4 ._content_13nyb_32{
      width:100%;
      box-shadow:none
  }
  }

._root_13nyb_4 ._content_13nyb_32 p a{
      color:inherit;
    }

._root_13nyb_4 ._content_13nyb_32 ._title_13nyb_51{
      position:relative;
      font-weight:600;
      font-size:1.71429rem;
      line-height:1.375;
      margin:0;
    }

._root_13nyb_4 ._content_13nyb_32 ._tagsContainer_13nyb_59{
      display:flex;
      flex-direction:row;
      align-items:flex-end;
      justify-content:flex-end;
      flex-wrap:wrap;
      margin-top:auto;
    }

._root_13nyb_4 ._content_13nyb_32 ._tagsContainer_13nyb_59 ._tag_13nyb_59{
        padding:0.25em;
        text-align:center;
        margin-top:8px;
        margin-bottom:8px;
        font-size:1rem;
        line-height:1.5;
        box-shadow:5px 5px 5px rgba(0, 0, 0, 0.15);
        border-radius:4px;
        background:#fff;
        border:1px solid #c76a5d;
        color:#c76a5d
      }

._root_13nyb_4 ._content_13nyb_32 ._tagsContainer_13nyb_59 ._tag_13nyb_59:not(:last-of-type){
          margin-right:8px;
        }

._root_13nyb_4 ._content_13nyb_32 ._linkContainer_13nyb_86{
      display:flex;
      flex-direction:row;
      align-items:flex-end;
      justify-content:flex-end;
      flex-wrap:wrap;
      margin-top:auto;
    }

._root_13nyb_4 ._content_13nyb_32 ._linkContainer_13nyb_86 ._button_13nyb_94{
        text-decoration:none;
        padding:0.5em 1em;
        text-align:center;
        margin-top:8px;
        font-size:1rem;
        line-height:1.5;
        transition:all 0.5s ease;
        box-shadow:5px 5px 5px rgba(0, 0, 0, 0.15);
        border-radius:4px;
        background:#747fe0;
        border:1px solid rgba(0, 0, 0, 0.1);
        color:#fff
      }

._root_13nyb_4 ._content_13nyb_32 ._linkContainer_13nyb_86 ._button_13nyb_94:not(:last-of-type){
          margin-right:8px;
        }

._root_13nyb_4 ._content_13nyb_32 ._linkContainer_13nyb_86 ._button_13nyb_94:hover{
          background:#747fe0;
          transform:scale(1.05);
        }

._root_sf11d_4{
  padding-bottom:2rem;
}

._root_sf11d_4 ._section_sf11d_7{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

._root_sf11d_4 ._section_sf11d_7 ._heading_sf11d_13{
      font-size:1.5rem;
      line-height:1.42857;
      margin-top:0.25em;
    }

._root_sf11d_4 ._section_sf11d_7 ._projectList_sf11d_19{
      width:100%;
      max-width:50em;
      padding:16px;
      box-sizing:border-box;
    }

._root_etfty_4{
  width:100%;
  height:100%;
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

._root_etfty_4 ._link_etfty_13{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0 3px 3px 3px;
    padding:8px;
    border:1px solid #000;
    cursor:default;
    background:white;
    box-shadow:3px 4px 2px 0 rgba(0, 0, 255, 0.2);
  }

._root_etfty_4 ._resumeContainer_etfty_25{
    position:relative;
    flex:1;
    margin:32px;
    height:0;
    max-width:calc(100% - 64px);
    width:600px;
    border:1px solid black;
    box-shadow:10px 10px 2px 1px rgba(0, 0, 255, 0.2);
    background:white;
  }

._root_etfty_4 ._resumeContainer_etfty_25 ._resume_etfty_25{
      width:100%;
      height:100%;
    }

._root_etfty_4 ._resumeContainer_etfty_25 ._imageContainer_etfty_41{
      width:100%;
      height:100%;
      overflow:auto;
    }

._root_etfty_4 ._resumeContainer_etfty_25 ._imageContainer_etfty_41 ._resumeImage_etfty_46{
        width:auto;
        min-width:100%;
        max-width:125%;
      }

._loading_etfty_55{
  width:100%;
  height:100%;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:white;
  position:absolute;
  top:0;
  left:0;
}

._root_r5772_4:not(:last-of-type){
    padding-bottom:0.5rem;
  }

._root_r5772_4 ._school_r5772_9{
    width:100%;
    max-width:40em;
    margin:0 auto;
    padding:0 1.5rem;
    box-sizing:border-box
  }

@media (max-width: calc(1280px - 1px)){

  ._root_r5772_4 ._school_r5772_9{
      padding:0 !important
  }
  }

._root_r5772_4 ._school_r5772_9 ._heading_r5772_20{
      font-size:1.28571rem;
      line-height:1.5;
      margin:0.25em 0 0;
    }

._root_r5772_4 ._school_r5772_9 ._details_r5772_26{
      font-size:1rem;
      line-height:1.5;
    }

._root_r5772_4 ._school_r5772_9 ul{
      margin:0;
    }

._root_r5772_4 ._school_r5772_9 ul ._details_r5772_26{
      margin-top:0.25em;
    }

._root_14t6z_4 ._section_14t6z_5{
    width:100%;
    max-width:40em;
    margin:0 auto;
    padding:0 1.5rem;
    box-sizing:border-box;
  }

._root_14t6z_4 ._section_14t6z_5 ._header-sm_14t6z_12{
      font-size:1.5rem;
      line-height:1.42857;
      margin:0.25em 0;
    }

._root_14t6z_4 ._section_14t6z_5 ._header-md_14t6z_18{
      font-size:1.71429rem;
      line-height:1.375;
      margin:0.25em 0;
    }

._root_14t6z_4 ._section_14t6z_5 ._header-lg_14t6z_24{
      font-size:3.5rem;
      line-height:1.16327;
      margin:0.25em 0;
    }

._root_1nu04_4{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  width:100vw;
  height:100vh;
  pointer-events:none;
  z-index:5
}

@media (min-width: 600px){

._root_1nu04_4{
    display:none
}
  }

._root_1nu04_4 ._background_1nu04_18{
    background:#747fe0;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    width:70%;
    height:100%;
  }

._root_1i17r_4{
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0 3px 3px 3px;
  padding:8px;
  border:1px solid #000;
  cursor:default;
  background:white;
  box-shadow:3px 4px 2px 0 rgba(0, 0, 255, 0.2);
}

._root_1i17r_4 ._skillImage_1i17r_15{
    width:26px;
    height:22px;
    margin-right:4px;
    background-size:contain;
    background:no-repeat center;
  }

._root_1i17r_4 ._skillImage_1i17r_15 ._image_1i17r_22{
      height:100%;
    }

._root_1i17r_4 ._skillText_1i17r_27{
    margin:0;
    font-size:1rem;
    line-height:1.5;
  }

._root_1lv4i_4{
  padding-bottom:2rem;
  margin-top:-1.5rem;
}

._root_1lv4i_4 ._section_1lv4i_8{
    width:100%;
    max-width:40em;
    margin:0 auto;
    padding:0 1.5rem;
    box-sizing:border-box;
  }

._root_1lv4i_4 ._section_1lv4i_8 ._heading_1lv4i_15{
      font-size:1.28571rem;
      line-height:1.5;
      margin:0.25em 0;
      text-align:center;
    }

._root_1lv4i_4 ._section_1lv4i_8 ._skillsList_1lv4i_22{
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
      justify-content:center;
    }

._root_5n4ei_4{
  padding-bottom:2rem;
}

._root_5n4ei_4 ._section_5n4ei_7{
    width:100%;
    max-width:40em;
    margin:0 auto;
    padding:0 1.5rem;
    box-sizing:border-box;
    display:flex;
    justify-content:center;
  }

._root_5n4ei_4 ._section_5n4ei_7 ._link_5n4ei_16{
      margin:0 8px;
      display:flex;
      justify-content:center;
      align-items:center;
    }

._root_5n4ei_4 ._section_5n4ei_7 ._link_5n4ei_16 ._logo_5n4ei_22{
        color:inherit;
        fill:currentColor;
      }

._root_cl9os_4{
  padding-bottom:2rem;
}

._root_cl9os_4 ._section_cl9os_7{
    width:100%;
    max-width:40em;
    margin:0 auto;
    padding:0 1.5rem;
    box-sizing:border-box;
  }

._root_cl9os_4 ._section_cl9os_7 ._label_cl9os_14{
      font-size:0.71429rem;
      line-height:1.2;
      text-transform:uppercase;
      letter-spacing:0.5px;
      margin-top:1em;
    }

._root_cl9os_4 ._section_cl9os_7 ._heading_cl9os_22{
      font-size:1.71429rem;
      line-height:1.375;
      margin:0;
    }

._root_cl9os_4 ._section_cl9os_7 ._label_cl9os_14 + ._heading_cl9os_22{
      margin-top:0.25em;
    }

._root_cl9os_4 ._section_cl9os_7 ._textContainer_cl9os_32 > *{
      margin:0;
    }

._root_1echs_4{
  padding-bottom:2rem;
}

._root_1echs_4 ._workExperience_1echs_7{
    width:100%;
    max-width:40em;
    margin:0 auto;
    padding:0 1.5rem;
    box-sizing:border-box;
  }

._root_1echs_4 ._workExperience_1echs_7 ._heading_1echs_14{
      font-size:1.71429rem;
      line-height:1.375;
      margin:0.25em 0
    }

@media (max-width: calc(1280px - 1px)){

    ._root_1echs_4 ._workExperience_1echs_7 ._heading_1echs_14{
        text-decoration:underline !important
    }
  }
