._root_13nyb_4{
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  position:relative;
  margin-bottom:32px;
  background-color:#fff;
  border-radius:16px;
  box-shadow:8px 8px 8px 0 rgba(0, 0, 0, 0.2);
  overflow:hidden;
  border:1px solid rgba(0, 0, 0, 0.15)
}

@media (min-width: 600px){

._root_13nyb_4{
    min-height:300px
}
  }

._root_13nyb_4 ._image_13nyb_20{
    position:relative;
    flex:1;
    width:50%;
    background:white;
    overflow:hidden
  }

@media (max-width: calc(1280px - 1px)){

  ._root_13nyb_4 ._image_13nyb_20{
      display:none
  }
  }

._root_13nyb_4 ._content_13nyb_32{
    flex:1;
    padding:32px;
    z-index:2;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:#000;
    box-shadow:-10px 0 40px 50px rgb(255, 255, 255)
  }

@media (max-width: calc(1280px - 1px)){

  ._root_13nyb_4 ._content_13nyb_32{
      width:100%;
      box-shadow:none
  }
  }

._root_13nyb_4 ._content_13nyb_32 p a{
      color:inherit;
    }

._root_13nyb_4 ._content_13nyb_32 ._title_13nyb_51{
      position:relative;
      font-weight:600;
      font-size:1.71429rem;
      line-height:1.375;
      margin:0;
    }

._root_13nyb_4 ._content_13nyb_32 ._tagsContainer_13nyb_59{
      display:flex;
      flex-direction:row;
      align-items:flex-end;
      justify-content:flex-end;
      flex-wrap:wrap;
      margin-top:auto;
    }

._root_13nyb_4 ._content_13nyb_32 ._tagsContainer_13nyb_59 ._tag_13nyb_59{
        padding:0.25em;
        text-align:center;
        margin-top:8px;
        margin-bottom:8px;
        font-size:1rem;
        line-height:1.5;
        box-shadow:5px 5px 5px rgba(0, 0, 0, 0.15);
        border-radius:4px;
        background:#fff;
        border:1px solid #c76a5d;
        color:#c76a5d
      }

._root_13nyb_4 ._content_13nyb_32 ._tagsContainer_13nyb_59 ._tag_13nyb_59:not(:last-of-type){
          margin-right:8px;
        }

._root_13nyb_4 ._content_13nyb_32 ._linkContainer_13nyb_86{
      display:flex;
      flex-direction:row;
      align-items:flex-end;
      justify-content:flex-end;
      flex-wrap:wrap;
      margin-top:auto;
    }

._root_13nyb_4 ._content_13nyb_32 ._linkContainer_13nyb_86 ._button_13nyb_94{
        text-decoration:none;
        padding:0.5em 1em;
        text-align:center;
        margin-top:8px;
        font-size:1rem;
        line-height:1.5;
        transition:all 0.5s ease;
        box-shadow:5px 5px 5px rgba(0, 0, 0, 0.15);
        border-radius:4px;
        background:#747fe0;
        border:1px solid rgba(0, 0, 0, 0.1);
        color:#fff
      }

._root_13nyb_4 ._content_13nyb_32 ._linkContainer_13nyb_86 ._button_13nyb_94:not(:last-of-type){
          margin-right:8px;
        }

._root_13nyb_4 ._content_13nyb_32 ._linkContainer_13nyb_86 ._button_13nyb_94:hover{
          background:#747fe0;
          transform:scale(1.05);
        }
