._root_14t6z_4 ._section_14t6z_5{
    width:100%;
    max-width:40em;
    margin:0 auto;
    padding:0 1.5rem;
    box-sizing:border-box;
  }

._root_14t6z_4 ._section_14t6z_5 ._header-sm_14t6z_12{
      font-size:1.5rem;
      line-height:1.42857;
      margin:0.25em 0;
    }

._root_14t6z_4 ._section_14t6z_5 ._header-md_14t6z_18{
      font-size:1.71429rem;
      line-height:1.375;
      margin:0.25em 0;
    }

._root_14t6z_4 ._section_14t6z_5 ._header-lg_14t6z_24{
      font-size:3.5rem;
      line-height:1.16327;
      margin:0.25em 0;
    }
