._root_1i17r_4{
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0 3px 3px 3px;
  padding:8px;
  border:1px solid #000;
  cursor:default;
  background:white;
  box-shadow:3px 4px 2px 0 rgba(0, 0, 255, 0.2);
}

._root_1i17r_4 ._skillImage_1i17r_15{
    width:26px;
    height:22px;
    margin-right:4px;
    background-size:contain;
    background:no-repeat center;
  }

._root_1i17r_4 ._skillImage_1i17r_15 ._image_1i17r_22{
      height:100%;
    }

._root_1i17r_4 ._skillText_1i17r_27{
    margin:0;
    font-size:1rem;
    line-height:1.5;
  }
