._root_5n4ei_4{
  padding-bottom:2rem;
}

._root_5n4ei_4 ._section_5n4ei_7{
    width:100%;
    max-width:40em;
    margin:0 auto;
    padding:0 1.5rem;
    box-sizing:border-box;
    display:flex;
    justify-content:center;
  }

._root_5n4ei_4 ._section_5n4ei_7 ._link_5n4ei_16{
      margin:0 8px;
      display:flex;
      justify-content:center;
      align-items:center;
    }

._root_5n4ei_4 ._section_5n4ei_7 ._link_5n4ei_16 ._logo_5n4ei_22{
        color:inherit;
        fill:currentColor;
      }
