._root_cl9os_4{
  padding-bottom:2rem;
}

._root_cl9os_4 ._section_cl9os_7{
    width:100%;
    max-width:40em;
    margin:0 auto;
    padding:0 1.5rem;
    box-sizing:border-box;
  }

._root_cl9os_4 ._section_cl9os_7 ._label_cl9os_14{
      font-size:0.71429rem;
      line-height:1.2;
      text-transform:uppercase;
      letter-spacing:0.5px;
      margin-top:1em;
    }

._root_cl9os_4 ._section_cl9os_7 ._heading_cl9os_22{
      font-size:1.71429rem;
      line-height:1.375;
      margin:0;
    }

._root_cl9os_4 ._section_cl9os_7 ._label_cl9os_14 + ._heading_cl9os_22{
      margin-top:0.25em;
    }

._root_cl9os_4 ._section_cl9os_7 ._textContainer_cl9os_32 > *{
      margin:0;
    }
