._root_1echs_4{
  padding-bottom:2rem;
}

._root_1echs_4 ._workExperience_1echs_7{
    width:100%;
    max-width:40em;
    margin:0 auto;
    padding:0 1.5rem;
    box-sizing:border-box;
  }

._root_1echs_4 ._workExperience_1echs_7 ._heading_1echs_14{
      font-size:1.71429rem;
      line-height:1.375;
      margin:0.25em 0
    }

@media (max-width: calc(1280px - 1px)){

    ._root_1echs_4 ._workExperience_1echs_7 ._heading_1echs_14{
        text-decoration:underline !important
    }
  }
