@import "Components";
@import "Properties";
@import "Colors";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overscroll-behavior: none;
  background-color: $primary-bg-color;
}

body {
  font-family: $font-family-raleway;
}

#portalRoot {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 1000;
  pointer-events: none;
}
