@import "../../../../../styles/Properties";
@import "../../../../../styles/Colors";

.root {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transition: clip-path 1s;
  clip-path: circle(25px at right 35px top -45px);
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: $accent-color;
  padding: 12px;
  margin-top: 82px;
}

details + .root {
  transition-delay: 0.75s;
}

details[open] + .root {
  right: 0;
  clip-path: circle(110vh at right 35px top -45px);
  transition-delay: 0s;
}
