.image {
  position: relative;
  overflow: hidden;
  filter: none;
  transition: filter 0.3s ease-out;
  object-fit: fill;

  &[data-objectfit="contain"] {
    object-fit: contain;
  }

  &[data-objectfit="cover"] {
    object-fit: cover;
  }

  &[data-objectfit="fill"] {
    object-fit: fill;
  }

  &.blurred {
    filter: blur(20px);
    transition: none;
  }
}
